
.rubik {
            font-family: "Rubik Gemstones", system-ui;
            font-weight: 400;
                font-style: normal;
            color: purple;
        }

        #experiencia{
            font-size: large;
            color:green;
        }
        .destacado{
            color: blue;
            font-style: italic;
        }
        strong{
            font-weight: normal;
            color:red;
            text-decoration: underline;
        }
.educursiva {
    font-family: "Edu NSW ACT Cursive", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.padre{
    color: peru;
    font-family: Arial, Helvetica, sans-serif;
}
.hijo{
    font-weight: bold;
    color: green;
}
#caja{
    background-color: lightgray;
    border: solid 15px green;
    padding: 50px;
    margin: 20px;
}